
body {
  margin: 2em;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 14px;
}

h1 {
	font-size: 200%;
	font-weight: bold;
	margin-bottom: 0.2em;
}

h2 {
	font-size: 160%;
	font-weight: bold;
	margin-bottom: 0.2em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 150%;
}

a {
	color: #CA4C44;
}

.link {
	color: #CA4C44;
}
